/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
/static
/node_modules

/public/uploads/tmp
/public/assets/dist/javascripts
/public/assets/dist/stylesheets
/public/assets/manifest.json

.env