<% @page_title = 'メンタリーとは' %>

<div class="box">
  <h1 class="title is-6">メンタリーとは</h1>
  <hr>
  <div class="content is-size-7">
    <p>メンタリーとは、様々なメンタルに関する症状・悩み等、みんなの声を集め、お互いに問題を解決していく場所です。</p>
    <p>同じ悩みを持つ人同士で交流を目的しています。同じ悩みならお互い分かち合い、アドバイスし合えると思います。</p>
    <p>利用に関しては、完全無料です。</p>
    <% if !user_signed_in? %><p><%= link_to('登録はこちらから', sign_up_path) %></p><% end %>
  </div>
</div>