<div class="title_block">
  <h1 class="page_title">Mentallyについて</h1>
</div>

<div class="col-12 col-sm-10 offset-sm-1">
  <div class="about">
    <p>
      Mentallyとは、様々なメンタルに関する症状・悩み等、みんなの声を集めて、お互いに問題を解決していく場所です。<br>
      同じ悩みを持つ人同士で交流。同じ悩みなら分かち合い、アドバイスし合えると思います。<br>
      利用に関しては、完全無料です。
    </p>
    <div class="row mt-1">
      <div class="col-12 col-sm-6">
        <div class="about-title">
          <span>ユーザ登録なし</span>
        </div>
        <div class="about-body">
          <ul class="about-list">
            <li>質問の閲覧</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="about-title">
          <span>ユーザ登録あり</span>
          <ul class="about-list">
            <li>質問の閲覧 / 投稿 / 編集</li>
            <li>コメント機能</li>
          </ul>
        </div>
        <div class="about-body">
        </div>
      </div>
    </div>
  </div>
</div>