<div class="row">
  <div class="col-sm-8">
    <div class="title_block">
      <h1 class="page_title">新着投稿</h1>
    </div>
    <div class="post_list">
      <ul>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry">回答</dt>
                <dd class="unsolved">1</dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category hospital">病院</span>
              <div class="post_title"><a href="">頭が痛くて寝れません。</a></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: 2018年9月16日</div>
                <div class="editor"><a href="">投稿者: hoge</a></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry txt-0">回答</dt>
                <dd class="unsolved txt-0">0</dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category hospital">病院</span>
              <div class="post_title"><a href="">頭が痛くて寝れません。</a></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: 2018年9月16日</div>
                <div class="editor"><a href="">投稿者: hoge</a></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry txt-0">回答</dt>
                <dd class="unsolved txt-0">0</dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category hospital">病院</span>
              <div class="post_title"><a href="">頭が痛くて寝れません。</a></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: 2018年9月16日</div>
                <div class="editor"><a href="">投稿者: hoge</a></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry txt-0">回答</dt>
                <dd class="unsolved txt-0">0</dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category hospital">病院</span>
              <div class="post_title"><a href="">頭が痛くて寝れません。</a></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: 2018年9月16日</div>
                <div class="editor"><a href="">投稿者: hoge</a></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry txt-0">回答</dt>
                <dd class="unsolved txt-0">0</dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category hospital">病院</span>
              <div class="post_title"><a href="">頭が痛くて寝れません。</a></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: 2018年9月16日</div>
                <div class="editor"><a href="">投稿者: hoge</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
