/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.errors {
  ul {
    margin: 0;
  }
}

nav {
  .logo {
    height: 30px;
    padding-bottom: 3.0px;
  }
}

.flash {
  margin-top: 27px;
}

.chk_label {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.title_block {
  text-align: center;
}
.page_title {
  display: inline-block;
  font-size: 1.4rem;
  border-bottom: solid 1px #ccc;
  padding-bottom: 5px;
  margin-top: 27px;
  margin-bottom: 20px;
}
.page_title_catgory {
  font-size: 1.0rem;
  margin-bottom: 8px;
  border-bottom: 0px;
}

.profile {
  font-size: 0.8rem;
  .profile_infomation {
    ul {
      display: flex;
      padding: 0px;
    }
    li {
      list-style-type: none;
      flex-grow: 1;
      text-align: center;
    }
    li + li {
      border-left: 1px solid #ccc;
      letter-spacing: 1px;
    }
  }
}

.post_list {
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    border-bottom: solid 1px #ccc;
    padding: 5px 8px;
    margin-bottom: 5px;
  }
  .txt-0 {
    color: #ccc;
  }
  .entry {
    display: block;
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 1px;
  }
  .unsolved {
    text-align: center;
  }
  .post_block {
    vertical-align: top;
  }
  .entry_block {
    padding-top: 6px;
  }
  .post_title {
    font-size: 1.0rem;
    margin-bottom: 2px;
    font-weight: 700;
    line-height: 25px;
    a:link, a:visited {
      color: #117ec6;
    }
  }
  .editor {
    display: inline-block;
    font-size: 0.2rem;
    a:link, a:visited {
      color: #7e8081;
    }
    letter-spacing: 1px;
    span {
      color: #7e8081;
    }
  }
  .edit_date {
    display: inline-block;
    color: #7e8081;
    font-size: 0.2rem;
    letter-spacing: 1px;
  }
}
.category {
  display: inline-block;
  font-size: 0.2rem;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 16px;
}
.hospital {
  width: 40px;
  background-color: #d03c56;
}
.medicine {
  width: 40px;
  background-color: #3c7ad0;
}
.child_care {
  width: 100px;
  background-color: #3cd095;
}
.family {
  width: 100px;
  background-color: #d0b23c;
}
.job {
  width: 45px;
  background-color: #9c3cd0;
}
.money {
  width: 45px;
  background-color: #373a3b;
}
.category_list {
  width: 60%;
  margin: 0 auto;
  li {
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
  }
  a {
    color: #7e8081;
    letter-spacing: 1px;
  }
}
.post {
  font-size: 1.0rem;
  .post_info {
    a {
      font-size: 0.8rem;
    }
    span {
      color: #7e8081;
      font-size: 0.2rem;
      letter-spacing: 1px;
    }
  }
  .post_body {
    p {
      line-height: 2;
    }
  }
  .post_replies {
    .post_reply {
      margin-bottom: 0.8rem
    }
    .post_reply_body {
      // position: relative;
      // margin-top: 0.5em;
      padding: 7px 10px;
      min-width: 120px;
      color: #555;
      background: #e0edff;
      border-radius: 15px;
    }
    // .post_reply_body:before{
    //   content: "";
    //   position: absolute;
    //   top: -10px;
    //   left: 30px;
    //   margin-left: -15px;
    //   border: 5px solid transparent;
    //   border-bottom: 7px solid #e0edff;
    // }
  }
  .post_reply_form {
    .btn {
      width: 100%;
    }
  }
}

footer {
  a {
    font-size: 15px;
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0px;
  }
  .container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-menu nav ul li {
    display: inline-block;
    padding: 0 10px;
  }
  .copyright {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
    color: #777;
    border-top: 1px solid #ccc;
  }
}
.footer {
  padding-top: 10px;
  margin-top: 50px;
  background-color: #f8f9fa;
}

.signup_form {
  .entry {
    margin-top: 20px;
    width: 100%;
  }
}