/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma/bulma.sass";
@import "bulma-utilities/sass/bulma-utilities.sass";

html, body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #a6e9df;
  height: 100%;
}

body {
  font-size: 0.75rem;
}

.section {
  min-height: 100%;
}

// nav
.navbar {
  box-shadow: 0 2px 2px 1px rgba(0,0,0,.1);
}
.navbar-item img {
  max-height: 2.3rem;
}

// post
.post {
  .media {
    align-items: center;
  }
}

// profile
.profile {
  .label {
    min-width: 60px;
  }
}

// terms
.terms {
  .content {
    margin-top: 1.0rem;
  }
}

// privacy
.privacy {
  .content {
    margin-top: 1.0rem;
  }
}

// footer
.footer {
  padding: .5rem .5rem .5rem;

  .footer-menu {
    margin-bottom: .5rem;
    li {
      display: inline;
      a:link {
        color: #4a4a4a;
      }
      a:visited {
        color: #4a4a4a;
      }
    }
    li + li::before {
      content: "|";
      margin-left: .2rem;
      margin-right: .2rem;
    }
  }
}