<% if flash[:error].present? %>
<div class="notification is-info">
<%= flash[:error].html_safe %>
</div>
<% end %>
<% if flash[:alert].present? %>
<div class="notification is-info">
<%= flash[:alert].html_safe %>
</div>
<% end %>
<% if flash[:notice].present? %>
<div class="notification is-info">
<%= flash[:notice].html_safe %>
</div>
<% end %>