  <footer class="footer">
    <div class="has-text-centered">
      <ul class="footer-menu is-size-7">
        <li><%= link_to('利用規約', terms_path) %></li>
        <li><%= link_to('プライバシーポリシー', privacy_path) %></li>
        <li><%= link_to('お問い合わせ', inquiry_path) %></li>
      </ul>
    </div>
    <div class="content has-text-centered">
      <p class="is-size-7">© 2019 Mentally</p>
    </div>
  </footer>