<footer class="footer">
  <div class="container">
    <div class="footer-menu">
      <nav>
        <ul>
          <li><a href="/">ヘルプ</a></li>
          <li><a href="" %="">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
    <div class="copyright">
      © 2018 U2トーク
    </div>
  </div>
</footer>