<footer class="footer">
  <div class="container">
    <div class="footer-menu">
      <nav>
        <ul>
          <li><%= link_to '利用規約', terms_path %></li>
          <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
        </ul>
        <ul>
          <li><%= link_to 'お問い合わせ', inquiry_path %></li>
        </ul>
      </nav>
    </div>
    <div class="copyright">
      © 2018 メンタルル
    </div>
  </div>
</footer>